/*
 * GENERAL STYLES
 */
#loadingDiv {
  background: url('../scripts/libs/svg-loaders/svg-loaders/oval.svg') no-repeat scroll 50% 50% #F9F9F9;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #DDD;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1031;
}
nav.navbar {
  margin-bottom: 3px;
}


/*
 * STYLES FOR CONTROLS
 */
.select2control {
  width: 100%;
}
.selectCommodity,
.selectPartner {
  margin-bottom: 0.5em;
}
#clearFilters {
  float: right;
}
p.placeholder {
  text-align: center;
  padding: 3em 0;
  border: 1px dotted rgb(0, 14, 185);
  color: #00f;
}
.selectYearWrapper {
  margin-top: 5px;
  width: 50%;
}

/*
 * STYLES FOR TOOLTIP
 */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/*
 * STYLES FOR THE CHOROPLETH
 */
#choropleth {
  height: 35em;
}
#flowButtons {
  position: absolute;
  top: 32em;
  height: 3em;
  width: 31%;
}
#choroplethInfo {
  position: absolute;
  top: 285px;
  width: 31%;
  height: 15em;
  background: rgba(47, 112, 169, 0.60);
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
}
#choroplethInfo .countryName,
#choroplethInfo .commodity {
  font-weight: bold;
}
#choroplethTitle {
  display:table;
  height: 3.5em;
  margin-top: -3.5em;
  width: 67%;
  position: absolute;
  right: 0;
  z-index: 2000;
}
#choroplethTitle p {
  display:table-cell;
  vertical-align: bottom;
  background-color: rgba(255, 255, 255, 0.80);
  color: #2D6BA1;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
}
#choropleth .stroke {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
#choropleth .fill {
  fill: #fff;
}
#choropleth .graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
#choropleth .land {
  fill: #222;
}
#choropleth .boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
#choropleth path.country {
  cursor: pointer;
  stroke: #000;
  fill: #fff;
  stroke-width: .5px;
}
#choropleth path.country:hover {
  stroke: rgb(44, 105, 158);
  stroke-width: 2px;
}
#choropleth g.legend {
  font-size: 12px;
  fill: rgba(141, 141, 141, 0.75);
}
