.select2control {
  width: 100%;
}
.selectCommodity,
.selectPartner {
  margin-bottom: 0.5em;
}
#clearFilters {
  float: right;
}
p.placeholder {
  text-align: center;
  padding: 3em 0;
  border: 1px dotted rgb(0, 14, 185);
  color: #00f;
}
#loadingDiv {
  background: url('../scripts/libs/svg-loaders/svg-loaders/oval.svg') no-repeat scroll 50% 50% #F9F9F9;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #DDD;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1031;
}
#choropleth .placeholder {
  min-height: 25em;
}
