/*
 * SVG ONLY STYLES
 *
 * Color palette:
 * BIS blue: #054D82;
 */

/* Generic stlyes (inherited) by the SVG */
svg {
  color: rgb(51, 51, 51);
  font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
  font-size: 14px;
}

/* Choropleth */
.fill {
  fill: #fff;
}
.land {
  fill: #222;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
.country {
  cursor: pointer;
  stroke: #000;
  fill: #fff;
  stroke-width: .5px;
}
.country.highlighted {
  fill: rgb(216, 255, 0) !important;
  stroke: #b10026;
  stroke-width: 2px !important;
}
.country:hover {
  stroke: #b10026;
  stroke-width: 2px !important;
}




/* General styles */
g.tick line {
  fill: none;
  stroke: #054D82;
  stroke-width: 1px;
  stroke-opacity: 1;
  stroke-dasharray: none;
  shape-rendering: crispEdges;
}
path.domain {
  fill: none;
  stroke: #054D82;
  stroke-width: 1px;
  stroke-opacity: 1;
  stroke-dasharray: none;
  shape-rendering: crispEdges;
}
g.tick text {
  font-size: 12px;
  fill: rgba(141, 141, 141, 0.75);
}
g.legend {
  font-size: 12px;
  fill: rgba(25, 25, 25, 0.75);
}
text.label {
  font-size: 13px;
  font-weight: lighter;
  fill: #6f6f6f;
}
text.value {
  font-size: 11px;
  font-weight: bold;
  fill: #1a1a1a;
}



/* Yearchart */
.dot {
  cursor: pointer;
}
.yearHighlight {
  fill: rgba(47, 112, 169, 0.50);
}

/* Rowcharts */
g.item rect {
  cursor: pointer;
}


/* Exports */
tspan.creditTitle {
  font-weight: bold;
  fill: #054D82;
}
tspan.creditSource {
  font-size: 11px;
  fill: #1a1a1a;
}
tspan.creditLink {
  font-size: 12px;
  fill: #054D82;
}
