/*
 * Color palette:
 * BIS blue: #054D82;
 */




/*
 * GENERAL, NAVBAR & LAYOUT STYLES
 */
html, body, #main {
  font-family: Helvetica,Arial,Verdana,Geneva,sans-serif;
  height: 100%;
}
.fill-screen {
  min-height: 100%;
}
#loadingDiv {
  background: url('../scripts/libs/svg-loaders/svg-loaders/oval.svg') no-repeat scroll 50% 50% #F9F9F9;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #DDD;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1031;
}
nav.navbar {
  margin-bottom: 3px;
  border-bottom-color: #054D82;
}
/* The folowing media query makes the menu collapse on screen sizes less than 1020px
 * See http://stackoverflow.com/a/20249415 */
@media (max-width: 1170px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
ul.navbar-nav li,
p.navbar-text {
  color: #000 !important;
  font-size: 1.1em;
  margin-left: 15px;
}
.navbar-right {
  margin-right: 15px;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand img {
  display: inline-block;
}
a.navbar-brand {
  float: left;
}
div.alert {
  /* Add padding to compensate for navbar */
  padding-top: 60px;
}
div#charts {
  border-top: 1px solid #054D82;
}




/*
 * STYLES FOR CONTROLS
 */
#controls {
  padding: 0 15px;
}
.select2control {
  width: 100%;
}
#s2id_selectReporter .select2-chosen::before {
  font-size: 0.9em;
  font-weight: bold;
  content: "Reporter: ";
}
#s2id_selectPartner .select2-chosen::before {
  font-size: 0.9em;
  font-weight: bold;
  content: "Partner: ";
}
#s2id_selectCommodity .select2-chosen::before {
  font-size: 0.9em;
  font-weight: bold;
  content: "Commodity: ";
}
#s2id_selectReporter, #s2id_selectCommodity, #s2id_selectPartner, #s2id_selectYear,
.selectReporter, .selectCommodity, .selectPartner, .selectYear {
  margin-bottom: 0.5em;
}
.clearBtnWrapper .btn {
  width: 100%;
}
#clearFilters {
  font-size: 14px;
}
#goToCharts {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 100%;
  text-align: right;
  font-size: 26px;
  color: #054D82;
}
#goToMap {
  position: relative;
  top: 0;
  right: 18px;
  text-align: right;
  font-size: 26px;
  color: #054D82;
}
/*
 * The following media query changes the gutter size between cols to be a bit slimmer
 * See http://stackoverflow.com/a/19179407
 * And also set the upper padding for the fullscreen pages
 * */
@media (max-width: 768px) {
  #main, #charts { padding-top: 183px }
  #charts { margin-top: 183px }
}
@media (min-width: 768px) {
  div[class^="col"]{padding-left:5px; padding-right:5px;}
  #main, #charts { padding-top: 115px }
  #charts { margin-top: 115px }
}
@media (min-width: 992px) {
  div[class^="col"]{padding-left:5px; padding-right:5px;}
  #main, #charts { padding-top: 90px }
  #charts { margin-top: 90px }
}
@media (min-width: 1200px) {
  div[class^="col"]{padding-left:5px; padding-right:5px;}
}




/*
 * STYLES FOR THE INFOBOX
 */
#infoBox {
  position: absolute;
  width: 31%;
  height: 20.5em;
  font-size: 0.9em;
  overflow: hidden;
}
#infoBoxPlaceholder,
#infoBox .panel {
  height: 20.5em;
}
#infoBox .panel-heading,
#infoBox .panel-body {
  padding: 3px 10px;
}
#infoBox .dl-horizontal {
  margin-bottom: 3px;
}
#infoBox .dl-horizontal dt {
  width: 50%;
  padding-right: 3px;
}
#infoBox .dl-horizontal dd {
  width: 50%;
  margin-left: 50%;
  padding-right: 3px;
}




/*
 * STYLES FOR THE CHOROPLETH
 */
div#choropleth {
  height: 100%;
  position: relative;
  top: 0;
}
div#choroplethTitle {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-align: center;
}
div#choroplethTitle div.titleDropdown {
  float: none;
  display: inline;
}
div#choroplethTitle div.titleDropdown button {
  margin-top: -10px;
}
div#choroplethTitle div.chartTitle {
  margin-top: 0;
  background-color: #fff;
}
div#flowButtons {
  position: absolute;
  top: 30px;
  height: 35px;
  width: 12em;
}
div#mapLegend {
  position: absolute;
  top:  60px;
  min-height: 3em;
  width: 12em;
}
svg#mapLegendSvg {
  width: 100%;
  height: 100%;
}
div#choroplethInfo {
  position: absolute;
  bottom: 15px;
  width: 31%;
  height: 19em;
  font-size: 11px;
}
div#choroplethInfo dl.dl-horizontal {
  margin-bottom: 0;
}
div#choroplethInfo .countryName,
div#choroplethInfo .commodity {
  font-weight: bold;
}
#contextMenu {
  position: absolute;
  display:none;
}
#contextMenu .dropdown-header {
  color: #054D82;
  font-size: 16px;
  font-weight: bold;
}
#closeContextMenu {
  margin: 2px 0 0 2px;
}
/* SVG specific styles */
svg#choroplethSvg .fill {
  fill: #fff;
}
svg#choroplethSvg .land {
  fill: #222;
}
svg#choroplethSvg .boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
svg#choroplethSvg path.country {
  cursor: pointer;
  stroke: #000;
  fill: #fff;
  stroke-width: .5px;
}
svg#choroplethSvg path.country.highlighted {
  fill: #fff !important;
  stroke: rgb(44, 105, 158);
  stroke-width: 2px !important;
}
svg#choroplethSvg path.country:hover {
  stroke: rgb(44, 105, 158);
  stroke-width: 2px !important;
}




/*
 * STYLES FOR LINE AND BAR CHARTS
 */
.chartTitle {
  display: inline;
  color: #054D82;
  font-size: 24px;
  line-height: 1em;
  margin-top: 2em;
}
.titleDropdown {
  float: left;
}
.titleDropdown button {
  margin-top: -1px;
}
#yearChart .chartTitle {
  margin-top: 0;
}
/* Specific charts */
#yearChart .chart {
  height: 19em;
}
.barchart {
  height: 27em;
}




/* SVG specific styles */
svg .axis path, svg .axis line {
  fill: none;
  stroke: #054D82;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
svg g.tick text {
  font-size: 12px;
  fill: rgba(141, 141, 141, 0.75);
}
svg g.legend {
  font-size: 13px;
  fill: rgba(141, 141, 141, 0.75);
}
svg text.label {
  font-size: 13px;
  font-weight: lighter;
  fill: #6f6f6f;
}
svg text.value {
  font-size: 11px;
  font-weight: bold;
  fill: #1a1a1a;
}
#yearChart .chart svg .dot {
  cursor: pointer;
}
#yearChart .chart svg .highlight {
  fill: rgba(47, 112, 169, 0.50);
}
#topExportDestinations .chart svg .item rect,
#topExportCommodities .chart svg .item rect {
  fill: rgb(0, 109, 44);
  opacity: 0.8;
}
#topImportSources .chart svg .item rect,
#topImportCommodities .chart svg .item rect {
  stroke-width: 0;
  fill: rgb(166, 54, 3);
  opacity: 0.8;
}
.barchart svg .item {
  cursor: pointer;
}


/*
 * STYLES FOR TOOLTIP
 */
.d3-tip {
  line-height: 1;
  font-size: 11px;
  max-width: 15em;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
