/*
 * GENERAL STYLES
 */
#loadingDiv {
  background: url('../scripts/libs/svg-loaders/svg-loaders/oval.svg') no-repeat scroll 50% 50% #F9F9F9;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #DDD;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1031;
}
nav.navbar {
  margin-bottom: 3px;
}


/*
 * STYLES FOR CONTROLS
 */
#flowButtons {
  width: 31.8%;
  float: right;
  margin-top: -2.5em;
}
.select2control {
  width: 100%;
}
.selectCommodity,
.selectPartner {
  margin-bottom: 0.5em;
}
#clearFilters {
  float: right;
}
p.placeholder {
  text-align: center;
  padding: 3em 0;
  border: 1px dotted rgb(0, 14, 185);
  color: #00f;
}

/*
 * STYLES FOR THE CHOROPLETH
 */
#choropleth {
  min-height: 35em;
}
#choroplethTitle {
  background-color: rgba(255, 255, 255, 0.80);
  color: #2D6BA1;
  font-weight: bold;
  font-size: 1.5em;
  height: 3.5em;
  margin-top: -3.5em;
  width: 62%;
}
#choropleth .stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
#choropleth .fill {
  fill: #fff;
}
#choropleth .graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
#choropleth .land {
  fill: #222;
}
#choropleth .boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
#choropleth path.country {
  cursor: pointer;
  stroke: #000;
  fill: #fff;;
}
#choropleth path.selectedReporter {
  stroke: #f00;
}
#choropleth path.selectedPartner {
  stroke: #00f;
}

/*
 * Colorscales from ColorBrewer2:
 * http://colorbrewer2.org/
 * https://github.com/mbostock/d3/blob/master/lib/colorbrewer/colorbrewer.css
 */
#choropleth .Blues .q0-3{fill:rgb(222,235,247)}
#choropleth .Blues .q1-3{fill:rgb(158,202,225)}
#choropleth .Blues .q2-3{fill:rgb(49,130,189)}
#choropleth .Blues .q0-4{fill:rgb(239,243,255)}
#choropleth .Blues .q1-4{fill:rgb(189,215,231)}
#choropleth .Blues .q2-4{fill:rgb(107,174,214)}
#choropleth .Blues .q3-4{fill:rgb(33,113,181)}
#choropleth .Blues .q0-5{fill:rgb(239,243,255)}
#choropleth .Blues .q1-5{fill:rgb(189,215,231)}
#choropleth .Blues .q2-5{fill:rgb(107,174,214)}
#choropleth .Blues .q3-5{fill:rgb(49,130,189)}
#choropleth .Blues .q4-5{fill:rgb(8,81,156)}
#choropleth .Blues .q0-6{fill:rgb(239,243,255)}
#choropleth .Blues .q1-6{fill:rgb(198,219,239)}
#choropleth .Blues .q2-6{fill:rgb(158,202,225)}
#choropleth .Blues .q3-6{fill:rgb(107,174,214)}
#choropleth .Blues .q4-6{fill:rgb(49,130,189)}
#choropleth .Blues .q5-6{fill:rgb(8,81,156)}
#choropleth .Blues .q0-7{fill:rgb(239,243,255)}
#choropleth .Blues .q1-7{fill:rgb(198,219,239)}
#choropleth .Blues .q2-7{fill:rgb(158,202,225)}
#choropleth .Blues .q3-7{fill:rgb(107,174,214)}
#choropleth .Blues .q4-7{fill:rgb(66,146,198)}
#choropleth .Blues .q5-7{fill:rgb(33,113,181)}
#choropleth .Blues .q6-7{fill:rgb(8,69,148)}
#choropleth .Blues .q0-8{fill:rgb(247,251,255)}
#choropleth .Blues .q1-8{fill:rgb(222,235,247)}
#choropleth .Blues .q2-8{fill:rgb(198,219,239)}
#choropleth .Blues .q3-8{fill:rgb(158,202,225)}
#choropleth .Blues .q4-8{fill:rgb(107,174,214)}
#choropleth .Blues .q5-8{fill:rgb(66,146,198)}
#choropleth .Blues .q6-8{fill:rgb(33,113,181)}
#choropleth .Blues .q7-8{fill:rgb(8,69,148)}
#choropleth .Blues .q0-9{fill:rgb(247,251,255)}
#choropleth .Blues .q1-9{fill:rgb(222,235,247)}
#choropleth .Blues .q2-9{fill:rgb(198,219,239)}
#choropleth .Blues .q3-9{fill:rgb(158,202,225)}
#choropleth .Blues .q4-9{fill:rgb(107,174,214)}
#choropleth .Blues .q5-9{fill:rgb(66,146,198)}
#choropleth .Blues .q6-9{fill:rgb(33,113,181)}
#choropleth .Blues .q7-9{fill:rgb(8,81,156)}
#choropleth .Blues .q8-9{fill:rgb(8,48,107)}
#choropleth .Greens .q0-3{fill:rgb(229,245,224)}
#choropleth .Greens .q1-3{fill:rgb(161,217,155)}
#choropleth .Greens .q2-3{fill:rgb(49,163,84)}
#choropleth .Greens .q0-4{fill:rgb(237,248,233)}
#choropleth .Greens .q1-4{fill:rgb(186,228,179)}
#choropleth .Greens .q2-4{fill:rgb(116,196,118)}
#choropleth .Greens .q3-4{fill:rgb(35,139,69)}
#choropleth .Greens .q0-5{fill:rgb(237,248,233)}
#choropleth .Greens .q1-5{fill:rgb(186,228,179)}
#choropleth .Greens .q2-5{fill:rgb(116,196,118)}
#choropleth .Greens .q3-5{fill:rgb(49,163,84)}
#choropleth .Greens .q4-5{fill:rgb(0,109,44)}
#choropleth .Greens .q0-6{fill:rgb(237,248,233)}
#choropleth .Greens .q1-6{fill:rgb(199,233,192)}
#choropleth .Greens .q2-6{fill:rgb(161,217,155)}
#choropleth .Greens .q3-6{fill:rgb(116,196,118)}
#choropleth .Greens .q4-6{fill:rgb(49,163,84)}
#choropleth .Greens .q5-6{fill:rgb(0,109,44)}
#choropleth .Greens .q0-7{fill:rgb(237,248,233)}
#choropleth .Greens .q1-7{fill:rgb(199,233,192)}
#choropleth .Greens .q2-7{fill:rgb(161,217,155)}
#choropleth .Greens .q3-7{fill:rgb(116,196,118)}
#choropleth .Greens .q4-7{fill:rgb(65,171,93)}
#choropleth .Greens .q5-7{fill:rgb(35,139,69)}
#choropleth .Greens .q6-7{fill:rgb(0,90,50)}
#choropleth .Greens .q0-8{fill:rgb(247,252,245)}
#choropleth .Greens .q1-8{fill:rgb(229,245,224)}
#choropleth .Greens .q2-8{fill:rgb(199,233,192)}
#choropleth .Greens .q3-8{fill:rgb(161,217,155)}
#choropleth .Greens .q4-8{fill:rgb(116,196,118)}
#choropleth .Greens .q5-8{fill:rgb(65,171,93)}
#choropleth .Greens .q6-8{fill:rgb(35,139,69)}
#choropleth .Greens .q7-8{fill:rgb(0,90,50)}
#choropleth .Greens .q0-9{fill:rgb(247,252,245)}
#choropleth .Greens .q1-9{fill:rgb(229,245,224)}
#choropleth .Greens .q2-9{fill:rgb(199,233,192)}
#choropleth .Greens .q3-9{fill:rgb(161,217,155)}
#choropleth .Greens .q4-9{fill:rgb(116,196,118)}
#choropleth .Greens .q5-9{fill:rgb(65,171,93)}
#choropleth .Greens .q6-9{fill:rgb(35,139,69)}
#choropleth .Greens .q7-9{fill:rgb(0,109,44)}
#choropleth .Greens .q8-9{fill:rgb(0,68,27)}
#choropleth .Oranges .q0-3{fill:rgb(254,230,206)}
#choropleth .Oranges .q1-3{fill:rgb(253,174,107)}
#choropleth .Oranges .q2-3{fill:rgb(230,85,13)}
#choropleth .Oranges .q0-4{fill:rgb(254,237,222)}
#choropleth .Oranges .q1-4{fill:rgb(253,190,133)}
#choropleth .Oranges .q2-4{fill:rgb(253,141,60)}
#choropleth .Oranges .q3-4{fill:rgb(217,71,1)}
#choropleth .Oranges .q0-5{fill:rgb(254,237,222)}
#choropleth .Oranges .q1-5{fill:rgb(253,190,133)}
#choropleth .Oranges .q2-5{fill:rgb(253,141,60)}
#choropleth .Oranges .q3-5{fill:rgb(230,85,13)}
#choropleth .Oranges .q4-5{fill:rgb(166,54,3)}
#choropleth .Oranges .q0-6{fill:rgb(254,237,222)}
#choropleth .Oranges .q1-6{fill:rgb(253,208,162)}
#choropleth .Oranges .q2-6{fill:rgb(253,174,107)}
#choropleth .Oranges .q3-6{fill:rgb(253,141,60)}
#choropleth .Oranges .q4-6{fill:rgb(230,85,13)}
#choropleth .Oranges .q5-6{fill:rgb(166,54,3)}
#choropleth .Oranges .q0-7{fill:rgb(254,237,222)}
#choropleth .Oranges .q1-7{fill:rgb(253,208,162)}
#choropleth .Oranges .q2-7{fill:rgb(253,174,107)}
#choropleth .Oranges .q3-7{fill:rgb(253,141,60)}
#choropleth .Oranges .q4-7{fill:rgb(241,105,19)}
#choropleth .Oranges .q5-7{fill:rgb(217,72,1)}
#choropleth .Oranges .q6-7{fill:rgb(140,45,4)}
#choropleth .Oranges .q0-8{fill:rgb(255,245,235)}
#choropleth .Oranges .q1-8{fill:rgb(254,230,206)}
#choropleth .Oranges .q2-8{fill:rgb(253,208,162)}
#choropleth .Oranges .q3-8{fill:rgb(253,174,107)}
#choropleth .Oranges .q4-8{fill:rgb(253,141,60)}
#choropleth .Oranges .q5-8{fill:rgb(241,105,19)}
#choropleth .Oranges .q6-8{fill:rgb(217,72,1)}
#choropleth .Oranges .q7-8{fill:rgb(140,45,4)}
#choropleth .Oranges .q0-9{fill:rgb(255,245,235)}
#choropleth .Oranges .q1-9{fill:rgb(254,230,206)}
#choropleth .Oranges .q2-9{fill:rgb(253,208,162)}
#choropleth .Oranges .q3-9{fill:rgb(253,174,107)}
#choropleth .Oranges .q4-9{fill:rgb(253,141,60)}
#choropleth .Oranges .q5-9{fill:rgb(241,105,19)}
#choropleth .Oranges .q6-9{fill:rgb(217,72,1)}
#choropleth .Oranges .q7-9{fill:rgb(166,54,3)}
#choropleth .Oranges .q8-9{fill:rgb(127,39,4)}
