/*
 * Color palette:
 * BIS blue: #054D82;
 *
 *
 */



/*
 * GENERAL, NAVBAR & STRUCTURE STYLES
 */
html, body, #main {
  font-family: Helvetica,Arial,Verdana,Geneva,sans-serif;
  height: 100%;
}
.fill-screen {
  min-height: 100%;
}
#loadingDiv {
  background: url('../scripts/libs/svg-loaders/svg-loaders/oval.svg') no-repeat scroll 50% 50% #F9F9F9;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #DDD;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1031;
}
nav.navbar {
  margin-bottom: 3px;
  border-bottom-color: #054D82;
}
.navbar-right {
  margin-right: 15px;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand img {
  display: inline-block;
}
div.pageTitle {
  display: inline-block;
  margin: 0 0 0 3em;
}
div.pageTitle p {
  padding: 3px 0 0 0;
  font-size: 18px;
  font-weight: bold;
}
div.alert, div#choropleth {
  /* Add padding to compensate for navbar */
  padding-top: 60px;
}
div#charts {
  margin-top: 80px;
  padding-top: 100px;
  border-top: 1px solid #054D82;
}



/*
 * STYLES FOR CONTROLS
 */
#controls {
  padding: 0 15px;
}
.select2control {
  width: 100%;
}
#selectReporter, #selectCommodity, #selectPartner, #selectYear,
.selectReporter, .selectCommodity, .selectPartner, .selectYear{
  margin-bottom: 0.5em;
}
.selectYearWrapper {
  float: left;
  width: 60%;
}
.clearBtnWrapper {
  float: left;
  width: 40%;
  padding: 0 15px 0 5px;
}
#clearFilters {
  font-size: 14px;
}
#goToCharts {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 100%;
  text-align: right;
  font-size: 26px;
  color: #054D82;
}
#goToMap {
  position: relative;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 26px;
  color: #054D82;
}


/*
 * STYLES FOR THE CHOROPLETH
 */
#choropleth {
  height: 100%;
}
#contextMenu {
  position: absolute;
  display:none;
}
#contextMenu .dropdown-header {
  color: #054D82;
  font-size: 16px;
  font-weight: bold;
}
#closeContextMenu {
  margin: 2px 0 0 2px;
}
#flowButtons {
  position: absolute;
  top: 90px;
  height: 35px;
  width: 12em;
}
#mapLegend {
  position: absolute;
  top:  120px;
  min-height: 3em;
  width: 12em;
}
#mapLegend svg {
  width: 100%;
  height: 100%;
}
#choroplethInfo {
  position: absolute;
  bottom: 15px;
  width: 31%;
  height: 19em;
  background: rgba(5, 77, 130, 0.85);
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
}
#choroplethInfo dl.dl-horizontal {
  margin-bottom: 0;
}
#choroplethInfo .countryName,
#choroplethInfo .commodity {
  font-weight: bold;
}
#choroplethTitle {
  display:table;
  height: 3.5em;
  margin-top: -3.5em;
  width: 67%;
  position: absolute;
  right: 0;
  z-index: 1000;
}
#choroplethTitle p {
  display:table-cell;
  vertical-align: bottom;
  background-color: rgba(255, 255, 255, 0.80);
  color: #2D6BA1;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
}
#choropleth .fill {
  fill: #fff;
}
#choropleth .graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
#choropleth .land {
  fill: #222;
}
#choropleth .boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
#choropleth path.country {
  cursor: pointer;
  stroke: #000;
  fill: #fff;
  stroke-width: .5px;
}
#choropleth path.country.highlighted {
  fill: #fff !important;
  stroke: rgb(44, 105, 158);
  stroke-width: 2px !important;
}
#choropleth path.country:hover {
  stroke: rgb(44, 105, 158);
  stroke-width: 2px !important;
}

/*
 * COMMON STYLES FOR CHARTS
 */
.axis path,
.axis line {
  fill: none;
  stroke: #2D6BA1;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
g.tick text {
  font-size: 12px;
  fill: rgba(141, 141, 141, 0.75);
}
.yGrid .tick line,
.xGrid .tick line {
  stroke: #afafaf;
}
g.legend {
  font-size: 13px;
  fill: rgba(141, 141, 141, 0.75);
}
.chartTitle {
  color: #2D6BA1;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5em;
}
text.label {
  font-size: 11px;
  font-weight: bold;
}


/*
 * STYLES FOR THE YEAR CHART
 */
#yearChart {
  height: 16em;
}
#yearChart .dot {
  cursor: pointer;
}
#yearChart .highlight {
  fill: rgba(47, 112, 169, 0.50);
}

/*
 * STYLES FOR THE BAR CHARTS
 */
#topImportSources,
#topExportDestinations,
#topImportCommodities,
#topExportCommodities {
  height: 27em;
}
#topExportDestinations .item rect,
#topExportCommodities .item rect {
  fill: rgb(0, 109, 44);
  opacity: 0.8;
}
#topImportSources .item rect,
#topImportCommodities .item rect {
  stroke-width: 0;
  fill: rgb(166, 54, 3);
  opacity: 0.8;
}
#topExportDestinations .item,
#topExportCommodities .item,
#topImportSources .item,
#topImportCommodities .item {
  cursor: pointer;
}


/*
 * STYLES FOR TOOLTIP
 */
.d3-tip {
  line-height: 1;
  font-size: 11px;
  max-width: 15em;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
